html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #1F2937;
}


#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

#header-1 {
    font-size: 80px;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    color: white;
    margin-bottom: 0px;
    margin-left: 0px;
}

#header-2 {
    font-size: 80px;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    color: #10B981;
    margin-top: 0px;
    margin-bottom: 0px;
}

#header-3 {
    font-size: 40px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: #D5D4D8;
    margin-top: 0px;
}

#generate-btn {
    width: 300px;
    font-size: 25px;
    border: 5px solid #1b4332;
    border-radius: 10px;
    background: #10B981;
    color: white;
}

#generate-btn:hover {
    box-shadow: 0 0 10px black;
}

#len-label {
    font-family: "Inter", sans-serif;
    font-size: 20px;;
    color: white;
}

form {
    margin-top: 15px;
}

#length {
    width: 400px;
    background: white;
}

#length::-webkit-slider-runnable-track {
    background: #10B981
}

#len-val {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 25px;
    color: white;
}

.modes {
    font-family: "Inter", sans-serif;
    font-size: 20px;;
    font-optical-sizing: auto;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#modes-div {
    width: 40%;
    height: 100px;
    display: flex;
    justify-content: space-between
}

.mode {
    transform: scale(1.5);
}

#passwords {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-top: 90px;
}

.password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;;
    background: #273549;
    width: 40%;
    height: 40px;
    color: #10B981;
}
